
 <head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Image Search</title>

  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- <link href="static/main.css" rel="stylesheet"> -->

</head>

<body>
<!-- <form>
    <input type="text" id="imagename" value="" />
    <input type="text" id="textsearch" value="" />
    <input type="button" id="btn" value="GO" />
</form> -->
<div class="container">
  <form>
    <div class="form-group">
      <label for="imagename">Image URL:</label>
      <input type="text" class="form-control" id="imagename">
    </div>
    <div class="form-group">
      <label for="textsearch">Text search:</label>
      <input type="text" class="form-control" id="textsearch">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" id="btn">Search</button>
    </div>
  </form>
</div>

 <script type="text/javascript">
        document.getElementById('btn').onclick = function() {
           console.log("Button clicked")
            var val = document.getElementById('imagename').value,
                src = val,
                img = document.createElement('img');

            img.src = src;
            img.id = 'uploadedimage';
            img.width = 200;
            img.height = 200;
            var div = document.getElementById('displayimage');
            div.innerHTML="";
            console.log(img.src)
            if (src) {
              div.appendChild(img);
            }
        }
    </script>

<div class="container">
  <div id="displayimage">
  </div>


<div class="row">
 
  <!-- <div class="col-md-7">
    <h2>Select an Image</h2>
    <br>
    <div class="row">
      <div class="col-md-6">
        <p><img src="https://upload.wikimedia.org/wikipedia/commons/6/63/African_elephant_warning_raised_trunk.jpg" style="height: 250px;" class="img"></p>
        <p><img src="https://farm8.staticflickr.com/7407/11857383274_f0aecb5583.jpg" style="height: 250px;" class="img"></p>
      </div>
      <div class="col-md-6">
        <p><img src="http://static.pyimagesearch.com.s3-us-west-2.amazonaws.com/vacation-photos/queries/127502.png" style="height: 250px;" class="img"></p>
        <p><img src="http://static.pyimagesearch.com.s3-us-west-2.amazonaws.com/vacation-photos/queries/123600.png" style="height: 250px;" class="img"></p>
      </div>
    </div>
  </div> -->
 
  <div class="col-md-12">
    <h2 style="display: none;" id="results-heading">Results</h2>
    <br>
    <table class="table" id="results-table">
      <thead>
        <tr>
          <th>Image</th>
            <th>Title</th>
            <th>Text</th>

            <th>Tags</th>

            <th>Source</th>

        </tr>
      </thead>
      <tbody id="results">
      </tbody>
    </table>
  </div>
 
</div>
 </div>

<br>

 <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
 <script src="static/main.js" type="text/javascript"></script>

 </body>
