/* custom styles */


.result-img {
  max-width: 200px;
  max-height: 200px;
}

.center-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.active {
  border: 5px solid red;
}